In [2]:
import pandas as pd
import numpy as np
import csv
import re
import nltk
import string
import spacy
nlp = spacy.load('en_core_web_sm')

C:\Users\Ritik\anaconda3\envs\ritik\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Ritik\anaconda3\envs\ritik\lib\site-packages\numpy\.libs\libopenblas.4SP5SUA7CBGXUEOC35YP2ASOICYYEQZZ.gfortran-win_amd64.dll
C:\Users\Ritik\anaconda3\envs\ritik\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
data = pd.read_csv('data_cleaned_4.csv')

In [4]:
data.isna().sum()

Unnamed: 0       0
Unnamed: 0.1     0
date             0
id               0
content          0
user             0
reply_count      0
retweet_count    0
likecount        0
quotecount       0
ct               4
year             0
month            0
quarter          0
week             0
dtype: int64

In [5]:
data.dropna(inplace=True)

In [6]:
data.head()

,Unnamed: 0,Unnamed: 0.1,date,id,content,user,reply_count,retweet_count,likecount,quotecount,ct,year,month,quarter,week
0,4297,4298,2020-12-31 20:59:01+00:00,1.344750e+18,"5/12\nMAY\nWe lost land and we lost men,\nTo t...",https://twitter.com/Schandillia,1,4,77,0,lose land lose lose ruinous wrath,2020,12,4,53
1,4298,4299,2020-12-31 20:35:33+00:00,1.344740e+18,The year was a tough one with covid and Amphan...,https://twitter.com/Saibabasevashr1,0,0,0,0,tough wrecking havoc miss single care single l...,2020,12,4,53
2,4299,4300,2020-12-31 20:21:37+00:00,1.344740e+18,Pandemic.Trump impeachment. Joe Biden.Kamala H...,https://twitter.com/PallabB,0,1,1,0,pandemic trump impeachment kamala harry coast ...,2020,12,4,53
3,4300,4301,2020-12-31 20:04:16+00:00,1.344740e+18,@sumonseng @ranjona @kavita_krishnan @sagarika...,https://twitter.com/vyasa1968,0,0,0,0,sell pronunciation chauvinism rural afflict mo...,2020,12,4,53
4,4301,4302,2020-12-31 19:51:25+00:00,1.344730e+18,"Diamond Princess, Zoom calls\nAir strikes in S...",https://twitter.com/KristenPue,1,0,0,0,diamond princess zoom tony henry stock crash m...,2020,12,4,53

In [7]:
data.drop(columns={'Unnamed: 0', 'Unnamed: 0.1',
        'user', 'reply_count', 'retweet_count', 'likecount', 'quotecount'}, inplace=True)

In [8]:
data.head()

,date,id,content,ct,year,month,quarter,week
0,2020-12-31 20:59:01+00:00,1.344750e+18,"5/12\nMAY\nWe lost land and we lost men,\nTo t...",lose land lose lose ruinous wrath,2020,12,4,53
1,2020-12-31 20:35:33+00:00,1.344740e+18,The year was a tough one with covid and Amphan...,tough wrecking havoc miss single care single l...,2020,12,4,53
2,2020-12-31 20:21:37+00:00,1.344740e+18,Pandemic.Trump impeachment. Joe Biden.Kamala H...,pandemic trump impeachment kamala harry coast ...,2020,12,4,53
3,2020-12-31 20:04:16+00:00,1.344740e+18,@sumonseng @ranjona @kavita_krishnan @sagarika...,sell pronunciation chauvinism rural afflict mo...,2020,12,4,53
4,2020-12-31 19:51:25+00:00,1.344730e+18,"Diamond Princess, Zoom calls\nAir strikes in S...",diamond princess zoom tony henry stock crash m...,2020,12,4,53

In [9]:
data['date']=data['date'].apply(lambda x: str(x)[0:19])

In [10]:
data['date']

0        2020-12-31 20:59:01
1        2020-12-31 20:35:33
2        2020-12-31 20:21:37
3        2020-12-31 20:04:16
4        2020-12-31 19:51:25
                ...
41120    2020-04-03 05:20:55
41121    2020-04-02 13:17:33
41122    2020-04-01 07:09:08
41123    2020-04-01 07:02:24
41124    2020-04-01 06:42:16
Name: date, Length: 41121, dtype: object

In [11]:
data['date']=pd.to_datetime(data['date'])

In [12]:
data.dtypes

date       datetime64[ns]
id                float64
content            object
ct                 object
year                int64
month               int64
quarter             int64
week                int64
dtype: object

In [13]:
from collections import OrderedDict
data['ct'] = (data['ct'].str.split()
                 .apply(lambda x: OrderedDict.fromkeys(x).keys())
                 .str.join(' '))

In [14]:
data.to_csv('Amphan_cleaned.csv',index=False,header=True)

In [15]:
data.dtypes

date       datetime64[ns]
id                float64
content            object
ct                 object
year                int64
month               int64
quarter             int64
week                int64
dtype: object