In [1]:
import pandas as pd
import numpy as np
import csv
import re
import nltk
import string
import spacy
nlp = spacy.load('en_core_web_sm')

C:\Users\Ritik\anaconda3\envs\ritik\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Ritik\anaconda3\envs\ritik\lib\site-packages\numpy\.libs\libopenblas.4SP5SUA7CBGXUEOC35YP2ASOICYYEQZZ.gfortran-win_amd64.dll
C:\Users\Ritik\anaconda3\envs\ritik\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
import neattext

In [3]:
data = pd.read_csv('data_cleaned_3.csv')

In [4]:
data.isna().sum()

Unnamed: 0       0
date             0
id               0
content          0
user             0
reply_count      0
retweet_count    0
likecount        0
quotecount       0
ct               2
dtype: int64

In [5]:
data.dropna(inplace=True)

In [6]:
data.isna().sum()

Unnamed: 0       0
date             0
id               0
content          0
user             0
reply_count      0
retweet_count    0
likecount        0
quotecount       0
ct               0
dtype: int64

In [7]:
def clean(tweets):
     tweets=tweets.split()
     words=['taraf','sarkar','bhara','jati','tout','nous','frappe','nach','sind','wert','jati','amra'
     'seit','pare','locust','dais','lagena','lete','sircar','vidya','gayatri','joshi','horse','pari',
     'raja','tripal','amra','bhandari','surah','dra','kaha']


     tweets = ['distribute' if i == 'dsitribute' else i for i in tweets]

     for w in list(tweets):
          if w in words:
               tweets.remove(w)
           
     tweets=" ".join(tweets)
     return tweets

In [8]:
data['ct'] =  data['ct'].apply(lambda x : clean(x))

In [9]:
data.shape

(51616, 10)

In [10]:
df = data[data['ct'].str.contains('wird') == False]
df = df[df['ct'].str.contains('china') == False]
df = df[df['ct'].str.contains('visto') == False]
df = df[df['ct'].str.contains('hasta') == False]

In [11]:
df.shape

(51227, 10)

In [12]:
df['date']=pd.to_datetime(df['date'])

In [13]:
df['year'] = df["date"].dt.year
df['month'] = df["date"].dt.month
df["quarter"] = df["date"].dt.quarter
df["week"] = df["date"].dt.week

C:\Users\Ritik\AppData\Local\Temp/ipykernel_1456/1242232919.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df["week"] = df["date"].dt.week

In [14]:
df['month']

0        10
1        10
2        10
3        10
4        10
         ..
51613     2
51614     1
51615     4
51616     3
51617     3
Name: month, Length: 51227, dtype: int64

In [15]:
new_df=df[(df['year']>=2020) & (df['year']<2021) & (df['month']>=4)]

In [16]:
new_df.shape

(41125, 14)

In [17]:
new_df.to_csv('data_cleaned_4.csv')

In [18]:
new_df.isna().sum()

Unnamed: 0       0
date             0
id               0
content          0
user             0
reply_count      0
retweet_count    0
likecount        0
quotecount       0
ct               0
year             0
month            0
quarter          0
week             0
dtype: int64